*.dmg
*.egg
*.egg-info
*.mo
*.py[cod]
*.save
*.so
*~
.coverage
.DS_Store
.gradle
.idea
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.tox
.vagrant
\#*\#
__pycache__
build
develop-eggs
dist
eggs
nosetests.xml
parts
pip-log.txt
sdist
var
